.containerHome {
  background: #000;
}
/* carousel------------------------------------------------------------------------------ */
/* .pic-ctn {
	width: 100%;
	height: 200px;
  }
   */
  @keyframes display {
	0% {
	  transform: translateX(150px);
	  opacity: 0;
	}
	10% {
	  transform: translateX(0);
	  opacity: 1;
	}
	20% {
	  transform: translateX(0);
	  opacity: 1;
	}
	30% {
	  transform: translateX(-200px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(-200px);
	  opacity: 0;
	}
  }
  
  .pic-ctn {
	position: relative;
	width: 100%;
	height: 400px;
	margin-top: 15vh;
  }
  
  .pic-ctn > img {
	position: absolute;
	top: -200px;
	left: calc(10% - 60px);
	opacity: 0;
	animation: display 10s infinite;
  }.pic{width: 50%;}
  
  img:nth-child(2) {
	animation-delay: 2s;
  }
  img:nth-child(3) {
	animation-delay: 4s;
  }
  img:nth-child(4) {
	animation-delay: 6s;
  }
  img:nth-child(5) {
	animation-delay: 8s;
  }

h2{
	color: #fff;
	font-size: 40px;
}
/* sobre nosotros----------------------------------------------------------------------- */
.about{
    color: white;
}.headerParraf{
    color: white;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 40 px;
    text-align: center;
	min-height: 80px;
	width: 60%;
	margin: auto;
}

.videoHome{
	position: absolute;
	top: 31%;
	left: 63%;
}


/* peliculas en el cabecero------------------------------------------------------------ */
/* Aclamadas por la critica------------------------------------------------------------ */
.featured {
	-webkit-box-reflect: below 5px
	linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
    width: 50%;
}.featured:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}.imageGrande{
    width: 50%;
    display: block;
    margin: auto;
    -webkit-box-reflect: below 5px
	linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}.last {
	margin-top: 4.5rem;
    display: flex;
    justify-content: center;
    gap: 80px;
    
}.featured_wrapper featured {
	width: 100%;
	width: 100%;
	height: 100vh;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: top;
	object-position: top;
}.title_wrapper h1 {
	width: 30%;
}containeres{
    display: flex;
    justify-content: space-between;  
}@media (max-width: 768px) {
	.title_wrapper {
		text-align: center;
		left: 0;}.title_wrapper h1 {
		font-size: 32px !important;
		width: 100%;}.containeres {
		padding: 20px;
	}}@media (max-width: 480px) {
	.column.is-one-quarter img {
		width: 100%;
		margin-bottom: 7rem;
		cursor: pointer;
	}}

/* Boton de ver -------------------------------------------------------------------------- */
p{color: #fff;}
.botonWatch, botonWatch::after {
	width: 200px;
	height: 66px;
	font-size: 36px;
	font-family: 'Bebas Neue', cursive;
	background: linear-gradient(45deg, transparent 5%, #940fec 5%);
	border: 0;
	color: #fff;
	letter-spacing: 3px;
	line-height: 88px;
	box-shadow: 6px 0px 0px #f5f5f5;
	outline: transparent;
	cursor: pointer;
	position: absolute;
	left:550px;
	top: 155%;
  }.botonWatch::after {
	--slice-0: inset(50% 50% 50% 50%);
	--slice-1: inset(80% -6px 0 0);
	--slice-2: inset(50% -6px 30% 0);
	--slice-3: inset(10% -6px 85% 0);
	--slice-4: inset(40% -6px 43% 0);
	--slice-5: inset(80% -6px 5% 0);
	content: 'AVAILABLE NOW';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
	text-shadow: -3px -3px 0px #000000, 3px 3px 0px #00E6F6;
	clip-path: var(--slice-0);
  }.botonWatch:hover::after {
	animation: 1s glitch;
	animation-timing-function: steps(2, end);
  }@keyframes glitch {0% {clip-path: var(--slice-1);
	  transform: translate(-20px, -10px);
	}10% {clip-path: var(--slice-3);
	  transform: translate(10px, 10px);
	}20% {clip-path: var(--slice-1);
	  transform: translate(-10px, 10px);
	}30% {clip-path: var(--slice-3);
	  transform: translate(0px, 5px);
	}40% {clip-path: var(--slice-2);
	  transform: translate(-5px, 0px);
	}50% {clip-path: var(--slice-3);
	  transform: translate(5px, 0px);
	}60% {clip-path: var(--slice-4);
	  transform: translate(5px, 10px);
	}70% {clip-path: var(--slice-2);
	  transform: translate(-10px, 10px);
	}80% {clip-path: var(--slice-5);
	  transform: translate(20px, -10px);
	}90% {clip-path: var(--slice-1);
	  transform: translate(-10px, 0px);
	}100% {clip-path: var(--slice-1);
	  transform: translate(0);}}

	  
	  
	  
 /* 1 contenedor de tendencias------------------------------------------------------------------- */
	  
.contenedorGrandeTendencias{
	padding: 650px;
	/* background-color: #000; */
}


.tendenciasHome{
	padding: 50px;
	position: absolute;
	left: 14%;
 }

input[type=radio] {
  display: none;
}

.cardTendencia {
  position: absolute;
  width: 25%;
  /* height: 100%; */
  left: 300px;
  top: 235%;
  transition: transform .4s ease;
  cursor: pointer;
  /* padding: 55px; */
}

.containerTendencias {
  width: 80%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  /* transform-style: preserve-3d; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cardsTendencias {
  /* position: relative; */
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.imageTendencia {
  width: 100%;
  height: 800px;
  border-radius: 20px;
  object-fit: cover;
}
#item-1:checked ~ .cardsTendencias #song-3, #item-2:checked ~ .cardsTendencias #song-1, #item-3:checked ~ .cardsTendencias #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}
#item-1:checked ~ .cardsTendencias #song-2, #item-2:checked ~ .cardsTendencias #song-3, #item-3:checked ~ .cardsTendencias #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}
#item-1:checked ~ .cardsTendencias #song-1, #item-2:checked ~ .cardsTendencias #song-2, #item-3:checked ~ .cardsTendencias #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.player {
  background-color: #fff;
  border-radius: 8px;
  width: 300px;
  padding: 16px 10px;
  position: absolute;
  top: 320%;
  left: 20%;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.play-icon{ margin-right: 10px; }

.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

#item-1:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-80px);
}

/* 2 contenedor de tendencias------------------------------------------------------------------- */


.cardTendencia2 {
	position: absolute;
	width: 25%;
	/* height: 100%; */
	left: 1200px;
	top: 235%;
	transition: transform .4s ease;
	cursor: pointer;
	/* padding: 55px; */
  }
  
  .containerTendencias2 {
	width: 80%;
	max-width: 800px;
	max-height: 600px;
	height: 100%;
	/* transform-style: preserve-3d; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
  }
  
  .cardsTendencias2 {
	/* position: relative; */
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
  }
  
  .imageTendencia2 {
	width: 100%;
	height: 800px;
	border-radius: 20px;
	object-fit: cover;
  }
  
  #item-11:checked ~ .cardsTendencias2 #song-33, #item-22:checked ~ .cardsTendencias2 #song-11, #item-33:checked ~ .cardsTendencias2 #song-22{
	transform: translatex(-40%) scale(.8);
	opacity: .4;
	z-index: 0;
  }
  #item-11:checked ~ .cardsTendencias2 #song-22, #item-22:checked ~ .cardsTendencias2 #song-33, #item-33:checked ~ .cardsTendencias2 #song-11{
	transform: translatex(40%) scale(.8);
	opacity: .4;
	z-index: 0;
  }
  #item-11:checked ~ .cardsTendencias2 #song-11, #item-22:checked ~ .cardsTendencias2 #song-22, #item-33:checked ~ .cardsTendencias2 #song-33{
	transform: translatex(0) scale(1);
	opacity: 1;
	z-index: 1;
  }
  
  .player2 {
	background-color: #fff;
	border-radius: 8px;
	width: 300px;
	padding: 16px 10px;
	position: absolute;
	top: 320%;
	left: 62%;
  }
  
  .upper-part2 {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	height: 36px;
	overflow: hidden;
  }
  
  .play-icon2{ margin-right: 10px; }
  
  .song-info2 {
	width: calc(100% - 32px);
	display: block;
  }
  
  .song-info2 .title2 {
	color: #403d40;
	font-size: 14px;
	line-height: 24px;
  }
  
  .sub-line2 {
	display: flex;
	justify-content: space-between;
	width: 100%;
  }
  
  .subtitle2, .time2 {
	font-size: 12px;
	line-height: 16px;
	color: #c6c5c6;
  }
  
  .time2 {
	font-size: 12px;
	line-height: 16px;
	color: #a5a5a5;
	font-weight: 500;
	margin-left: auto;
  }
  
  .progress-bar2 {
	height: 3px;
	width: 100%;
	background-color: #e9efff;
	border-radius: 2px;
	overflow: hidden;
  }
  
  .progress2 {
	display: block;
	position: relative;
	width: 60%;
	height: 100%;
	background-color: #2992dc;
	border-radius: 6px;
  }
  
  .info-area2 {
	width: 100%;
	position: absolute;
	top: 0;
	left: 30px;
	transition: transform .4s ease-in;
  }
  
  #item-33:checked ~ .player2 #test {
	transform: translateY(0);
  }
  
  #item-22:checked ~ .player2 #test  {
	transform: translateY(-40px);
  }
  
  #item-33:checked ~ .player2 #test  {
	transform: translateY(-80px);
  }

/* polulares----------------------------------------------------------------------------------- */


.contenedorPopularGeneral{
	display: flex;
	justify-content: space-between;
}.contenedorPopularGeneral2{
	display: flex;
	justify-content: space-between;
}



.containerPopulares{
	position : relative;
	width : 1100px;
	display : flex;
	align-items : center;
	justify-content : center;
	padding : 80px;  
  }
  
  .containerPopulares .cardPopulares{
	position: relative;
	max-width : 300px;
	height : 215px;  
	background-color : #fff;
	margin : 30px 10px;
	padding : 20px 15px;
	
	display : flex;
	flex-direction : column;
	box-shadow : 0 5px 20px rgba(0,0,0,0.5);
	transition : 0.3s ease-in-out;
	border-radius : 15px;
  }
  .containerPopulares .cardPopulares:hover{
	height : 320px;    
  }
  .containerPopulares .cardPopulares .imagePopular {
	position : relative;
	width : 260px;
	height : 260px;
	top : -40%;
	left: 8px;
	box-shadow : 0 10px 35px rgba(0, 0, 0, 0.2);
	/* z-index : 1; */
  }
  .containerPopulares .cardPopulares .imagePopular img {
	max-width : 100%;
	border-radius : 15px;
  }
  
  .containerPopulares .cardPopulares .content {
	position : relative;
	top : -140px;
	padding : 10px 15px;
	color : #111;
	text-align : center;
	
	visibility : hidden;
	opacity : 0;
	transition : 0.3s ease-in-out;
  }.parrafoPopular{
	color: #000;
  }
  
  .containerPopulares .cardPopulares:hover .content {
	 margin-top : 25px;
	 visibility : visible;
	 opacity : 1;
	 transition-delay: 0.2s;
  }




  footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
	background-color: #c6c5c6;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/* -------------------------media--------------------------------------------------------------- */

/* @media (max-width: 1200px) {
	.videoHome{
		position: absolute;
		top: 80%;
		left: 17%;
	}
}

@media (max-width: 1200px) {
	.pic-ctn{
		position: absolute;
		top: 50%;
		left: 22%;
	}
}

@media(max-width:1200px){
	.headerParraf{
		position: absolute;
		top: 130%;
		left: 20%;
	}
}

@media(max-width:1200px){
	.about{
		position: absolute;
		top: 120%;
		left: 25%;
	}
}

@media(max-width:1200px){
	.imageGrande{
		position: absolute;
		top: 170%;
		left: 25%;
	}
}

@media(max-width:1200px){
	.botonWatch{
		position: absolute;
		top: 195%;
		left: 25%;
		width: 15%;
	}
}

@media(max-width:1200px){
	.aclamadasPorLa{
		position: absolute;
		top: 160%;
		left: 28%;
	}
} */
/* 
@media(max-width:1200px){
	.containeres{
		position: absolute;
		top: 210%;
		left: 1%;
		width: 100%;
	}
}

@media(max-width:1200px){
	.h1Tendencias{
		position: absolute;
		top: 2300%;
		left: 200%;
	}
}

@media(max-width:1200px){
	.contenedorPopularGeneral{
		position: absolute;
		width: 10vh;
		top: 400%;
		left: -10%;
	}
}
@media(max-width:1200px){
	.contenedorPopularGeneral2{
		position: absolute;
		width: 10%;
		top: 450%;
		left: -10%;
	}
}
@media(max-width:1200px){
	.contenedorPopular{
		position: absolute;
		width: 10%;
		top: 450%;
		left: -10%;
	}
}


@media(max-width:1200px){
	.contenedorGrandeTendencias{
		position: absolute;
		width: 20px;
		top: -35%;
		left: -25%;
	}
}

@media(max-width:1200px){
	.cardsTendencias2{
		position: absolute;
		top: 0%;
		left: -25%;
	}
}

@media(max-width:1200px){
	.player{
		position: absolute;
		top: 310%;
		left: 24%;
	}
}
@media(max-width:1200px){
	.player2{
		position: absolute;
		top: 310%;
		left: 68%;
	}
}

@media(max-width:1200px){
	.h1Populares{
		position: absolute;
		top: 380%;
		left: 35%;
	}
}

@media(max-width:1200px){
	.container__footer{
		position: absolute;
		top: 5%;
		left: 15%;
	}
}

@media(max-width:1200px){
	footer{
		position: absolute;
		height: 80%;
		width: 165%;
		top: 510%;
		left: -25%;
	}
} */
