.generalcoming{
  width: 100%;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: center;   
}

.contenedorGeneralDecoming{
  background-image: url("https://postibulo.files.wordpress.com/2014/08/moviegif-7.gif");
  background-color: antiquewhite;
}


.containerComing {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 400px;
    left: calc(18% - 150px);
    display: flex;
  }
  
  .containerComing2 {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 400px;
    left: calc(70% - 250px);
    display: flex;
  }

  .containerComing3 {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 1000px;
    left: calc(18% - 150px);
    display: flex;
  }

  .containerComing4 {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 1000px;
    left: calc(70% - 250px);
    display: flex;
  }

  .containerComing5 {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 150%;
    left: calc(19% - 250px);
    display: flex;
  }
  .containerComing6 {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 150%;
    left: calc(47% - 250px);
    display: flex;
  }
  .containerComing7 {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 150%;
    left: calc(75% - 250px);
    display: flex;
  }

.marvel{
  position: absolute;
  left: 415px;
  top: 300px;

  color: white;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}
.disney{
  position: absolute;
  left: 68%;
  top: 300px;

  color: white;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

.netflix{
  position: absolute;
  left: 415px;
  top: 900px;

  color: white;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}
.warner{
  position: absolute;
  left: 68%;
  top: 900px;

  color: white;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}
.cines{
  position: absolute;
  left: 46%;
  top: 135%;

  color: white;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}




  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }

  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  .antMan{
    position: absolute;
    top: 23px;
    width: 100%;
  }
  .guardians{
    position: absolute;
    top: 23px;
    width: 100%;
  }
  .avengers{
    position: absolute;
    top: 23px;
    width: 100%;
    /* height: 100%; */
  }.marvels{
    position: absolute;
    top: 23px;
    width: 100%;
  }
.misterio{
  position: absolute;
    top: 23px;
    width: 100%;
    height: 91.5%;
}
  .pollitos{
    position: absolute;
    top: 23px;
    width: 100%;
    height: 91.5%;
  }
  .aquaman{
    position: absolute;
    top: 23px;
    width: 100%;
    height: 91.5%;
  }.barbie{
    position: absolute;
    top: 23px;
    width: 100%;
    height: 91.5%;
  }.babylon{
    position: absolute;
    top: 23px;
    width: 100%;
    height: 91.5%;
  }.flash{
    position: absolute;
    top: 23px;
    width: 100%;
    height: 91.5%;
  }